<h1>Add Post</h1>
<form action="/post/create" method="post">  
    <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
    <input type="text" name="title" id="name" placeholder=" Enter title" required/>
    <br></br>
    <label id="icon" for="name"><i class="fas fa-user"></i></label>
    <input type="text" name="body" id="name" placeholder="Enter body" required/>
    <br></br>
    <div class="btn-block">
      <button class="btn btn-lg btn-primary btn-block" 
      type="submit" value="addpost">Add Post</button>
    </div>

</form>